<a href="https://colab.research.google.com/github/serzhoon/NoSQL_NCFU/blob/main/lab02_HBase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Отчёт по лабораторной работе на тему: HBase

### Выполнил студент группы ПИН-Б-З-22-1

### Гадиян Сергей Гариевич

###Задачи
####Задание
1. Создайте функцию под названием put_many(), которая создает экземпляр Put, добавляет любое
количество пар "колонка-значение" и фиксирует их в таблице. Сигнатура должна выглядеть
следующим образом

In [ ]:
def put_many(table_name, row, column_values)
# ваш код здесь
end

2. Определите свою функцию put_many() путем ее вставки в оболочку HBase и вызовите ее
следующим образом

In [ ]:
hbase> put_many 'wiki', 'Some title', {
hbase*  "text:" => "Some article text",
hbase*  "revision:author" => "jschmoe",
hbase*  "revision:comment" => "no comment" }

####Ход работы:

###ЗАДАНИЕ

Была создана функция put_many.rb, и добавлен следующий код:

In [ ]:
def put_many(table_name, row, column_values)
  column_values.each do |col, val|
    put table_name, row, col, val
  end
end
#Функция принимает список колонок и значений, и добавляет их все в таблицу.

In [ ]:
load 'put_many.rb' # загрузка функции в HBase

In [ ]:
create 'wiki', 'text', 'revision' # Создание таблицы wiki
list # вывод созданных таблиц

In [ ]:
# Результат вывода
hbase:003:0> list
TABLE
wiki
1 row(s)
Took 0.0203 seconds

In [ ]:
put_many 'wiki', 'Some title', {
  "text:" => "Some article text",
  "revision:author" => "jschmoe",
  "revision:comment" => "no comment"
}

get 'wiki', 'Some title'
#Результат:
hbase:084:0> get 'wiki', 'Some title'
COLUMN                       CELL
 revision:author             timestamp=2026-01-26T14:25:16.092, value=jschmoe
 revision:comment            timestamp=2026-01-26T14:25:16.099, value=no comment
 text:                       timestamp=2026-01-26T14:25:16.079, value=Some article text
1 row(s)
Took 0.0256 seconds



####ЗАДАНИЕ

1. Создайте новую таблицу под названием foods с одним семейством столбцов для хранения
фактов. Что следует использовать в качестве ключа строки? Какие параметры семейства столбцов
имеют смысл для этих данных

Создадим таблицу foods

In [ ]:
hbase:086:0> create 'foods', {
hbase:087:1*   NAME => 'facts',
hbase:088:1*   VERSIONS => 1,
hbase:089:1*   COMPRESSION => 'GZ',
hbase:090:1*   BLOOMFILTER => 'ROW'
}
Created table foods
Took 0.6646 seconds
=> Hbase::Table - foods

NAME => 'facts' семейство столбцов для хранения данных о продукте

VERSIONS => 1 хранить только последнюю версию данных

COMPRESSION => 'GZ' сжатие данных

BLOOMFILTER => 'ROW — ускоряет поиск

Ключ строки - :Food_Code

In [ ]:
hbase:092:0> list
TABLE
foods
wiki
2 row(s)
Took 0.0181 seconds
=> ["foods", "wiki"]
hbase:093:0> describe 'foods'
Table foods is ENABLED
foods
COLUMN FAMILIES DESCRIPTION
{NAME => 'facts', BLOOMFILTER => 'ROW', IN_MEMORY => 'false', VERSIONS => '1', KEEP_DELETED_CELLS => 'FALSE'
, DATA_BLOCK_ENCODING => 'NONE', COMPRESSION => 'GZ', TTL => 'FOREVER', MIN_VERSIONS => '0', BLOCKCACHE => '
true', BLOCKSIZE => '65536', REPLICATION_SCOPE => '0'}

1 row(s)
Quota is disabled
Took 0.0685 seconds